<h1>Welcome on task manager</h1>
<p>Please see your tasks below</p>
<ol>
  <% @tasks.each do |task| %>

    <li><p><strong><%= task.name.capitalize %></strong> - <%= link_to "See details", task_path(task) %> - <%= link_to "edit", edit_task_path(task) %> - <%= link_to "destroy", task_path(task), method: :delete %></p></li>
  <% end %>
</ol>
